[submodule "a_DinamicheAziendali/da_tools"]
	path = a_DinamicheAziendali/da_tools
	url = git@github.com:DinamicheAziendali/da_tools.git
	branch = 14.0

[submodule "b_OCA/account-financial-reporting"]
	path = b_OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "b_OCA/account-analytic"]
	path = b_OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 14.0

[submodule "b_OCA/account-financial-tools"]
	path = b_OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "b_OCA/account-invoicing"]
	path = b_OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0

[submodule "b_OCA/account-payment"]
	path = b_OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 14.0

[submodule "b_OCA/delivery-carrier"]
	path = b_OCA/delivery-carrier
	url = git@github.com:OCA/delivery-carrier.git
	branch = 14.0

[submodule "b_OCA/partner-contact"]
	path = b_OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "b_OCA/product-attribute"]
	path = b_OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0

[submodule "b_OCA/purchase-workflow"]
	path = b_OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0
