[submodule "a_DinamicheAziendali/da_tools"]
	path = a_DinamicheAziendali/da_tools
	url = git@github.com:DinamicheAziendali/da_tools.git
	branch = 14.0

[submodule "b_OCA/account-financial-reporting"]
	path = b_OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "b_OCA/account-analytic"]
	path = b_OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 14.0

[submodule "b_OCA/account-financial-tools"]
	path = b_OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "b_OCA/account-invoicing"]
	path = b_OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0

[submodule "b_OCA/account-payment"]
	path = b_OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 14.0

[submodule "b_OCA/delivery-carrier"]
	path = b_OCA/delivery-carrier
	url = git@github.com:OCA/delivery-carrier.git
	branch = 14.0

[submodule "b_OCA/partner-contact"]
	path = b_OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "b_OCA/product-attribute"]
	path = b_OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0

[submodule "b_OCA/purchase-workflow"]
	path = b_OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0

[submodule "b_OCA/project"]
	path = b_OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0

[submodule "b_OCA/reporting-engine"]
	path = b_OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0

[submodule "b_OCA/sale-workflow"]
	path = b_OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0

[submodule "b_OCA/server-tools"]
	path = b_OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "b_OCA/server-ux"]
	path = b_OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "b_OCA/stock-logistics-warehouse"]
	path = b_OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "b_OCA/stock-logistics-workflow"]
	path = b_OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 14.0

[submodule "b_OCA/web"]
	path = b_OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "b_OCA/website"]
	path = b_OCA/website
	url = git@github.com:OCA/website.git
	branch = 14.0

[submodule "b_OCA/e-commerce"]
	path = b_OCA/e-commerce
	url = git@github.com:OCA/e-commerce.git
	branch = 14.0

[submodule "b_OCA/l10n-italy"]
	path = b_OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 14.0
